<div id="main-column">
<h1>Oops, There was a problem!</h1>
Something went wrong. Please try the action again and if the problem still persists, please contact <a href="mailto:contact@openbama.org">contact@openbama.org</a>.
</div>

<% content_for(:side_bar) do %>

<% end %>