<div id="main-column">
        <h1>About OpenBama.org</h1>
        <h2>What is OpenBama.org</h2>
        <p>
            OpenBama.org is a website that compiles data from various sources regarding the Alabama Legislature into an easy to use format and tools placing the legislative process within reach of the the general public.  OpenBama.org is an independent, volunteer-run website that is not affiliated with the Alabama Legislature or state government.

        </p>
        <h2>Data Sources</h2>
        <p>
            Below is a listing of the data sources used by OpenBama.org:
        </p><ol>
            <li>The bill data provided on OpenBama.org is captured from the <a href="http://alisondb.legislature.state.al.us/acas/acaslogin.asp" target="_blank">ALISON</a> (Alabama Legislative Information System Online) website daily.  The process that updates the data on OpenBama.org occurs everyday at 6 PM (central time zone).</li>
            <li>In addition to the bill information retrieved from ALISON, the biogharpical informtion is provided by <a href="http://www.votesmart.org" target="_blank">Project Vote Smart</a>.</li>
            <li>The photos of the senators and representatives have been provided by the official website of the <a href="http://www.legislature.state.al.us/" target="_blank">Alabama Legislature</a>.</li>
        </ol>

</div>
